<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <% if current_user.pending_friends.any? || current_user.requested_friends.any? %>
        <section>
          <%# current_user.pending_friends.each do |friend| %>
              <%= render 'shared/friend_requests' %>
          <%# end %>
        </section>
      <% end %>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>FreshBook</h1>
    <h2>This is the home page for the FreshBook application.</h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>