<li id="comment-<%= comment.id %>">
<span class="user"><%= link_to comment.user.firstname, comment.user %></span>
<span class="content">
  <%= comment.content %>
</span>
<span class="timestamp">
Posted <%= time_ago_in_words(comment.created_at) %> ago.
<% if can? :destroy, Comment %>
<%= link_to "delete", comment_path(comment), method: :delete,
data: { confirm: "You sure?" } %>
<%  end %>
</span>
<!-- <span>
  <%#= link_to "Like", comment_likes_path(comment) %>
</span> -->
</li>