<%= form_with(model: @comment, url: comment_path, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
<%= f.text_area :content, placeholder: "Edit comment..." %>
</div>
<%= f.submit "Post", class: "btn btn-secondary" %>
<span class="image">
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
</span>
<% end %>

<script type="text/javascript">
$("#comment_image").bind("change", function() {
var size_in_megabytes = this.files[0].size/1024/1024;
if (size_in_megabytes > 5) {
alert("Maximum file size is 5MB. Please choose a smaller file.");
$("#comment_image").val("");
}
});
</script>