<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= form_tag users_path, method: "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by first or last name" %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<%= paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= paginate @users %>