<% provide(:title, fullname(@user)) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>Logged in as <strong><%= current_user.email %></strong>.</p>
      <h1>
        <%= gravatar_for @user %>
        <%= fullname(@user) %>
      </h1>
      <span><%= @user.email %></span>
      <span>+91-<%= @user.phonenumber %></span>
        <br>
        <% if !(@user == current_user) && !@friendship.present? %>
          <%= link_to 'Add Friend', friendships_path(friend_id: @user.id), method: :post %>
        <% end %>
        <!-- If receiving a friend request --->
        <% if @friendship && @friendship.status == "pending" %>
          <%= link_to 'Accept Request', friendship_path, method: :patch %>
          <%= link_to 'Reject Request', friendship_path(friend_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- If accepted friendship request and friend --->
        <% elsif @friendship && @friendship.status == "accepted" && @friendship.friend == current_user %>
          <%= link_to 'Remove Friend (You are friend)', friendship_path(friend_id: @friendship.user_id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- If accepted friendship request and user --->
        <% elsif @friendship && @friendship.status == "accepted" && @friendship.user == current_user %>
          <%= link_to 'Remove Friend (You are user)', friendship_path(friend_id: @friendship.friend_id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- if sending friendship request -->
        <% elsif @friendship %>
           <%= link_to 'Cancel Request', friendship_path(friend_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>