<li id="micropost-<%= micropost.id %>">
<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
<span class="user"><%= link_to micropost.user.firstname, micropost.user %></span>
<span class="content">
  <%= micropost.content %>
  <%= image_tag micropost.display_image if micropost.image.attached? %>
</span>
<span class="timestamp">
Posted <%= time_ago_in_words(micropost.created_at) %> ago.
<% if micropost.created_at != micropost.updated_at %>
  Edited.
<% end %>
<% if can? :update, micropost %>
<%= link_to "edit", edit_micropost_path(micropost.id) %>
<% end %>
<% if can? :destroy, micropost %>
<%= link_to "delete", micropost, method: :delete,
data: { confirm: "You sure?" } %>
<% end %>
</span>
<% if micropost.likes.any? %>
<span><%= pluralize(micropost.likes.count, "like") %></span>
<% end %>
<span>
  <% if current_user.likes.find_by(micropost_id: micropost.id).present? %>
    <%= link_to "Unlike", micropost_like_path(micropost.id, current_user.likes.find_by(micropost_id: micropost.id)), method: :delete %>
  <% else %>
    <%= link_to "Like", micropost_likes_path(micropost), method: :post %>
  <% end %>
</span>
<% if micropost.comments.any? %>
<br>
<strong>Comments:</strong>
<% end %>
<ul>
  <%= render micropost.comments %>
</ul>
<section class="comment_form">
  <%= link_to "New Comment", new_micropost_comment_path(micropost) %>
</section>

</li>